.menuContainer{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    position: relative;
    left:0;
    height: 100%;
    align-items: center;
    width: 80px;
    background-color: aqua;

}