@font-face {
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Gabarito', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Titillium Web', sans-serif;;
  src: url(https://fonts.google.com/specimen/Gabarito);
}
*{
  font-family: 'Gabarito', cursive;
}